@CHARSET "UTF-8";
body{
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaheiUI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	color:#ecc296; 
	background:#1f1c1b !important;
	/* color:#5c6570;
	background: #fff !important; */
	font-size:12px;
}
ul,li{
	list-style-type: none;
}
#main {
	margin:68px 0 100px 0;
}
a:focus,a:hover{
	outline:none;
	color:#dd2726;
	text-decoration:none;
}
button{
	outline: none;
}
.red{
	color:#dd2726
}
.green{
	color:green;
}
.white{
	color:white;
}
.gray{
	background:#ccc;
	padding:3px 5px;
	border-radius:50%;
	color:#dd2726
}
.result{
	background:#dd2726;
	color:#fff;
	padding:3px;
	border-radius:50%;
}
.pad0{
	padding:0px;
	text-align: center;
}
.pad4{
	padding:0 4px;
}
.bold{
	font-weight:bold;
}
.white_bg{
	/* background:#fff; */
	background:#1f1c1b !important;
}
.small-36 .input-group-addon{
	padding:0 8px;
}
.nav_header .refresh{
  	float: right;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
	border:none;
	background:transparent;
	color:#ecc296;
}


.nav_header_title{
	position:absolute; 
	top:15px; 
	left:50%; 
	margin-left:-18px; 
	font-size:16px;  
	text-shadow:2px 2px 3px #ccc;
	color:#ecc296;
}


table thead tr th,table tbody tr td{
	text-align:center;
}

.nav_bg, nav.navbar {
	color:#fff;
	background-image: url('../new_imgs/main/topbar.png');
	background-size: 100% 115%; 
	padding-bottom: 1px;
	/* background: #9D3434;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#9D3434), to(#8F1E1E));
	background:-moz-linear-gradient(top,#9D3434,#8F1E1E);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#9D3434,endColorstr=#8F1E1E,grandientType=0); */
}


.nav_bg .glyphicon,.nav_bg a b,.nav_bg .icon-bar{color:#fff !important;}
.white .icon-bar{background-color:#fff !important;}

#nav_list .navbar-nav a{
	color:#fff !important;
}
.navbar_ul{
	width:45%;
	float:right;
	padding:10px 2% 0 0;
}
.navbar_ul li{
	float:right;
	width:44%;
	margin:0 3%;
	text-align:center;
}

.navbar_ul li a.btn-white{
	display:block;
	padding:4px 12px;
	border-radius: 3px;
}
.navbar_info {
	width: 45%;
	float: right;
}
.navbar_info li{text-align:right !important;
}


/*	这个是顶部导航。	*/
.navbar-brand {
	padding:5px;
}
.navbar-brand > img {
	width: 26px;
	height: 36px;	
	padding: 5px 0px 0px 5px;
}
.navbar-toggle > img {
	width: 35px;	
}
.navbar-toggle.break {
	padding: 3px 10px;
}
.navbar-toggle.break > img {
	width: 30px;	
}
.computer{padding:10px 5px;}
.navbar-toggle{
	border:none;
}
.navbar-default .navbar-toggle:hover{
  background-color: transparent;
}


.navbar-header{
	box-shadow:0 1 10px rgba(0,0,0,0.3);
}
.navbar_title {
	position:absolute;
	top:15px;
	left:33%;
	width:30%;
	text-align:center;
	font-size:16px;
	text-shadow:2px 2px 3px;
	color:#ecc296;
}

#press .active span{background-color: #0AC0EF;color:#fff}
.pad0.press,.pad0.press span {
	border: 0px !important;
}
/*开奖中*/
.press button.kj {
	width: 80px;
	height: 34px;
	border: 0px !important;
	background-image: url('../new_imgs/bet/btn_kaijiang.png') !important;
	background-size: 100% 100%;
	background-color: transparent;
	margin-top: -5px;
}
/*投注*/
.press #press button.kj {
	background-image: url('../new_imgs/bet/btn_touzhu.png') !important;
	background-size: 100% 100%;
}


/*   这个是底部悬浮的导航		*/
#nav_list ul{
	margin-top:0;
}

.nav-li{
	padding:0;
}
.nav-li ul{
	width:100%;
	text-align:center;
}
.nav-li li{
	width:25%;
	float:left;
}
.nav-li li a{
	color:#5c6570;
	padding-left:0;
	padding-right:0;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:hover{
	color:#fff;
	background:none;
}
.nav-li b{
	display:block;
	font-weight:normal;
}
.nav-li .navbar-nav{
	margin:0;
	border-top:1px solid #ddd;
}
#nav_top .selected{
	color:#9D3434;
}
.login_member{
	background: #9d3434;
	padding:5px 0;
}
#list_login{
	margin:0;
}
#list_login .list-group-item{
	border:none;
	padding:10px 0;
}
.login_member img{
	margin:0 auto;
}
.login_form {
	width:95%;
	margin:0 auto;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn{
	font-size:14px;
}
.mt10{
	margin-top:10px;
}
.mb10{
	margin-bottom:10px;
}

.footer{
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fdf6ed;
	margin:0 0 60px 0;
}

@media (min-width: 300px) and (max-width:768px) {
	.navbar_ul{
		width:40%;
		float:right;
		padding:10px 2% 0 0;
	}
	.navbar_ul li{
		float:right;
		width:44%;
		margin:0 3%;
		text-align:center;
	}


}
@media (min-width: 280px) and (max-width:480px){

	.navbar_info{
		padding:8px 0 0 0;
	}
	.navbar_info li{
		width:100%;
		text-align:left;
		float:right;
		padding:0 5%;
	}

}
@media (min-width: 480px) and (max-width:768px) {

	.navbar_info{
		padding:8px 0 0 0;
	}
	.navbar_info li{
		text-align:left;
		float:right;
		padding:0 5%;
	}

}

	/*	没有小于768px 是因为Bootstrap3 以移动端优先设计	*/
/*	小屏幕 (平板，大于等于768px)	*/
@media (min-width: 768px) {

.nav_header{
	width:100%;
}

	.navbar_ul{
		width:40%;
		float:right;
		padding:10px 2% 0 0;
	}
	.navbar_ul li{
		float:right;
		width:20%;
		margin:0 3%;
		text-align:center;
	}

.navbar_width .navbar-header{
	width:100%;
}
	.navbar_info{
		padding:12px 0 0 0;
	}
.navbar_info li{
	float:right;
	margin:0 5%;
}

	
}

/*	中等屏幕 (桌面显示，大于等于992px)	*/
@media (min-width: 992px) {


.nav_header{
	width:100%;
}

	.navbar_ul{
		width:45%;
		float:right;
		padding:10px 2% 0 0;
	}
	.navbar_ul li{
		float:right;
		width:15%;
		margin:0 3%;
		text-align:center;
	}

}

/*	大屏幕 (大桌面显示器，大于等于1200px)	*/
@media (min-width: 1200px) {

.nav_header{
	width:100%;
}

.navbar_ul{
	width:40%;
	float:right;
	padding:10px 2% 0 0;
}
.navbar_ul li{
	float:right;
	width:18%;
	margin:0 3%;
	text-align:center;
}

.navbar_width .navbar-header{
	width:100%;
}

}





